<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/prijava.css" />
    <title>ИСПОЈ</title>
    <link rel="icon" href="/images/logo.png" type="image/icon type" />
  </head>

  <body>
    <%- include("partials/header.ejs") %> <%- include("partials/logout.ejs") %>

    <main>
      <h2>Uvid prijave</h2>
      <section>
        <article id="Vc">
          <label for="">Ime i prezime:</label
          ><span class=""><%= application.user.firstName %> <%= application.user.lastName %></span>
        </article>
        <article id="alpha">
          <label>Datum odlaska: </label
          ><span class=""
            ><%= `${application.dateFrom.getDate()}. ${application.dateFrom.getMonth()+1}.
            ${application.dateFrom.getFullYear()}. godine` %></span
          >
        </article>
        <article id="start">
          <label>Datum povratka: </label
          ><span class=""
            ><%= `${application.dateTo.getDate()}. ${application.dateTo.getMonth()+1}.
            ${application.dateTo.getFullYear()}. godine` %></span
          >
        </article>
        <article>
          <label>Status:</label>
          <span><%= application.getStatus() %></span>
        </article>
        <article>
          <label>Tip prijave:</label>
          <span><%= application.getType() %></span>
        </article>
      </section>
      <% if(isCommander && isPending){ %>
      <div class="container">
        <form action="/applications/approve/<%= application.getId() %>" method="POST">
          <button id="buttonZaTrue">
            <img src="/images/true.png" alt="" />
          </button>
        </form>
        <form action="/applications/decline/<%= application.getId() %>" method="POST">
          <button id="buttonZaFalse">
            <img src="/images/false.png" alt="" />
          </button>
        </form>
      </div>
      <% } %>
    </main>
  </body>
</html>
